@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&family=Paytone+One&family=Permanent+Marker&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Script&family=Mea+Culpa&display=swap');

.aviso{
    position: fixed;
    background-color: rgba(30, 30, 30, 200);
    width: 100vw;
    overflow: hidden;
    height: 15vh;
    margin-top: 43vh;
    display: flex;
    user-select: none;
    z-index: 1;
}

.aviso::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background-image: repeating-linear-gradient(45deg,
            rgba(255, 255, 255, 0.05) 0,
            rgba(255, 255, 255, 0.05) 10px,
            transparent 10px,
            transparent 20px);
    animation: moverFlechas 2s linear infinite;
    z-index: 1;
}

.aviso-titulo{
    color: white;
    margin-top: 1vh;
    font-family: "Paytone One", sans-serif;
    font-weight: italic;
    font-size: 2.3rem;
}

.aviso-subtitulo{
    color: white;
    width: 43vw;
    margin-top: 1.2vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.aviso-imagen{
    margin-left: 30vw ;
    margin-top: -2vh;
    z-index: 2;
}

.aviso-imagen img {
    height: 19vh;
    margin-right: 2vw;
    z-index: 2;
}

.aviso-divider {
    width: 55vw;
    margin-right: 20vw;
    margin-top: -2vh;
}

@keyframes moverFlechas {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(29px);
    }
}    